name: tests

on:
  push:
    branches:
    - "master"
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: setup
      uses: actions/setup-go@v4
      with:
        go-version: "1.24"
    - name: lint
      uses: golangci/golangci-lint-action@v8
    - name: build
      run: |
        go build
